body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    overflow: hidden; /* Ẩn cuộn trên toàn bộ trang */
}

#app {
    width: 100vw;                /* Sử dụng toàn bộ chiều rộng khung hiển thị */
    height: 177.78vw;             /* Tính chiều cao dựa trên tỷ lệ 9:16 */
    max-height: 100vh;            /* Đảm bảo không vượt quá chiều cao của khung hiển thị */
    overflow: hidden;             /* Ẩn thanh cuộn */
    display: flex;
    justify-content: center;
    align-items: center;
}
