body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}

#app {
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
    /* overflow: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 9 / 16
}
